body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

main {
  width: 100%;
  margin: 0;
  overflow-y: visible;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

footer {
  position: relative;
  box-sizing: content-box;
  height: 20vh;
  background-color: #19242e;
  color: white;
  text-align: center;
  padding: 2vh 0;
}
