@font-face {
  font-family: "britannic-bold-regular";
  src: url("../public/fonts/BRITANIC.TTF");
  font-weight: normal;
  font-style: normal;
}

.lmm {
  width: 100%;
  background-color: black;
  overflow-y: visible;
}

.lmm .background {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.lmm h1 {
  font-size: 40px;
}

.lmm .content {
  position: relative;
  color: whitesmoke;
  padding: 6%;
  padding-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "britannic-bold-regular", sans-serif;
  z-index: 100;
  overflow: hidden;
}

.lmm .video-holder {
  width: 70%;
  min-width: 600px;
  padding: 1rem;
}

.lmm .video-holder iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.6s;
}

.lmm .video-holder iframe:hover {
  transform: scale(1.015);
  box-shadow: 0px 0px 30px 20px rgba(43, 16, 66, 0.8);
}

.lmm .video-holder {
  grid-area: 1 / 1 / 2 / 3;
}

@media screen and (max-width: 1000px) {
  iframe {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .lmm .content {
    padding: 1rem;
  }

  .lmm h1 {
    font-size: 30px;
  }

  .lmm .video-holder {
    width: 100%;

    min-width: unset;
  }

  .lmm .background {
    right: -1000px;
    bottom: 0;
  }
}
