main#medlemmar {
  height: auto;
  min-height: 100vh;
  background-color: #2c3e50;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#medlemmar .content {
  padding-top: 2rem;
  padding-bottom: 4rem;
  min-width: 250px;
  max-width: 2000px;
  margin: auto;
}

#medlemmar .header {
  text-align: center;
  color: white;
  font-size: 40px;
}

#medlemmar .header h1 {
  margin-top: 0;
}

#medlemmar .member-shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 3rem;
  flex-basis: 20%;
}

.member-card {
  background-color: #d6d6d6;
  display: grid;
  width: 300px;
  grid-template-rows: 300px 50px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  transition: all 400ms ease-in-out;

  cursor: pointer;
  overflow: hidden;
}

.member-card:hover,
.member-card.showing {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
  grid-template-rows: 0px 350px;
}

.member-card .info {
  z-index: 100;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
  transition-delay: 200ms;
  padding: 0 1rem;
  padding-top: 0;
}

.member-card .image-holder {
  position: relative;
}

.member-card .image-holder img {
  transition: all 400ms ease-in-out;
}

.member-card:hover .image-holder img,
.member-card.showing .image-holder img {
  transform: scale(1.4) translateY(20px);
}

/* Pilen över bilden */
.member-card .image-holder i {
  color: white;
  text-align: center;
  font-size: larger;
  position: absolute;
  width: 2rem;
  top: 0.5rem;
  top: 280px;
  left: calc(50% - 1rem);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  animation: bobbing 2s ease-in-out infinite;
}

.member-card .facts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 10px;
}
.member-card .facts span {
  background-color: #2c3e50;
  padding: 0 2px;
  border-radius: 5px;
  color: white;
}

.member-card .description {
  height: auto;
  padding: 10px 0;
}

@media screen and (max-width: 500px) {
  #medlemmar .member-shelf {
    margin: 0;
  }

  #medlemmar .header h1 {
    font-size: clamp(14vw, 60px, 30px);
  }
}

@media screen and (max-width: 300px) {
  #medlemmar .member-shelf {
    margin: 0;
  }

  .member-card {
    width: 200px;
    grid-template-rows: 200px 50px;
  }

  .member-card .image-holder img {
    width: 200px;
    height: 200px;
  }

  .member-card .info {
    width: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/* Namn skiten */
.member-card .info .name-container {
  width: 260px;
  overflow: hidden;
  height: 50px;
  display: grid;
  align-items: center;
}

.member-card .info .name-container h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: max-content;
  height: min-content;
  font-size: 28px;
}

.member-card .info .name-container h2 span.nicks {
  visibility: hidden;
}

.member-card:hover .info .name-container h2 span.nicks,
.member-card.showing .info .name-container h2 span.nicks {
  visibility: visible;
}

.member-card:hover .info .name-container h2,
.member-card.showing .info .name-container h2 {
  animation: scroll-animation 8s linear infinite -0.5s;
}

.member-card:hover .info .name-container.Benjamin h2 {
  animation-duration: 24s;
  animation-timing-function: cubic-bezier(1, 1.57, 0.89, 0.72);
}

@keyframes scroll-animation {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(0px) scale(1.05);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px) scale(1.05);
  }
}
